.weather-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    line-height:2rem;

    &__inner-container{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    &__city{
        font-size:2rem;
        padding:1rem;
    }

    &__temperature{
        font-size:1.5rem;
        padding-bottom:1rem;
    }

    &__icon{
        width:8rem;
    }

    &__description{
        font-size:1.5rem;
        padding:1rem;
    }
}